.footer {
  display: flex;
  padding: 60px 0px;

  background-color: #2f303a;
}

.footer-elements {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__txt {
  display: block;
  margin-bottom: 20px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #fff;

  @include desktop {
    text-align: left;
  }
}
