.hero {
  // padding: 200px 0px;
  padding: 118px 0px;
  text-align: center;
}

.hero__overlay {
  // height: 600px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpeg');
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include desktop {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 670px;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
